<p-panel header="Upload">
    
        <div class="ui-g">
            <label for="name" class="ui-g-12 ui-md-2">Name:</label>
            <input id="name" class="ui-g-12 ui-md-10" placeholder="Enter your name...." type="name" />
            
            <label for="notify" class="ui-g-12 ui-md-2">Email Notification:</label>
            <input id="notify" class="ui-g-12 ui-md-10" placeholder="Enter an Email Address" type="email" />
        </div>
    
        <div class="ui-g">
            <label for="backup" class="ui-g-12 ui-md-2">Upload:</label>
            <button id="backup" class="ui-g-12 ui-md-10">Immediate Upload On Cloud</button>
        </div>
    
        <div class="ui-g">
            <label for="statistic" class="ui-g-12 ui-md-2">Uptime Stats:</label>
            <div id="statistic" class="ui-g-12 ui-md-10 ui-g-nopad">
                <div class="icon ui-g-5">
                  
                    <i class="fa fa-cloud-upload"></i>                 
                </div>
                <div class="data ui-g-7">
                    <div class="value">Upload Done</div>
                    
                </div>   
            </div>
        </div>
    
    </p-panel>